# Core MIDI processing
pretty-midi>=0.2.10
mido>=1.2.0
#python-rtmidi>=1.4.0

# Analysis & algorithms
numpy>=1.19.0
scipy>=1.5.0
fastdtw>=0.3.4

# Visualization & data
matplotlib>=3.3.0
pandas>=1.5.0

# Build tools
setuptools>=65.5.0
wheel>=0.38.0